2 Database test rb.mdb.src/tbldefs/SchedulingDetails.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SchedulingDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SchedulingDetails">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="CaseNumber" index-key="CaseNumber " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PetitionerZipCode" index-key="PetitionerZipCode " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"/>
        <od:index index-name="RespondantZipCode" index-key="RespondantZipCode " primary="no" unique="no" clustered="no" order="asc"/>
        <od:tableProperty name="Orientation" type="2" value="0"/>
        <od:tableProperty name="OrderByOn" type="1" value="0"/>
        <od:tableProperty name="DefaultView" type="2" value="2"/>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
        <od:tableProperty name="TotalsRow" type="1" value="0"/>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"/>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
        <od:tableProperty name="HideNewField" type="1" value="0"/>
        <od:tableProperty name="BackTint" type="6" value="100"/>
        <od:tableProperty name="BackShade" type="6" value="100"/>
        <od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"/>
        <od:tableProperty name="AlternateBackShade" type="6" value="95"/>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="765"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CaseNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1620"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="12"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="County" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1080"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [Counties].[ID], [Counties].[CountyName] FROM Counties ORDER BY [CountyName]; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="2"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PetitionerFirstName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2325"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerLastName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2280"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerPhoneNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2730"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1875"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerStreetAddress1" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2790"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerStreetAddress2" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2790"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerCity" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1725"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerZipCode" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2220"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerState" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [States].[ID], [States].[StateName] FROM States; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="2"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PetitionerPaymentDetails" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2835"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerIndigent" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="2145"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="True/False"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="RespondantFirstName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantLastName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantPhoneNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantStreetAddress1" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantStreetAddress2" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2775"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantCity" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3030"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantZipCode" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3000"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantState" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [States].[ID], [States].[StateName] FROM States; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="2"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="RespondantPaymentDetails" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantIndigent" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="True/False"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyFirstName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="4185"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyLastName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3615"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyPhoneNumber1" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3660"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyPhoneNumber2" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2835"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyFaxNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3915"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerAttorneyEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerParalegalName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PetitionerParalegalEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyFirstName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3360"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyLastName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyPhoneNumber1" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyPhoneNumber2" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyFaxNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantAttorneyEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantParalegalName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RespondantParalegalEmail" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MediationScheduleDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3060"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Long Date"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="MediationScheduleTime" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3960"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Medium Time"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="MediationLocation" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Notes" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextFormat" type="2" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AppendOnly" type="1" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Mediator" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [MediatorNames].[ID], [MediatorNames].[Meditators] FROM MediatorNames ORDER BY [Meditators]; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="2"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Donebythis" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="True/False"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
